body {
    background-color: lightblue;
}

h1 {
    font-size: 2.5rem ;
    color: coral;
    background-color: aliceblue;
}

ul {
    padding-top: 25px;
}

.flex-container {
    display:flex;
    flex-direction: row;
    flex-shrink: initial;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 2px;
    column-count: 2;
    height:50vw;
}

.flex-container li{
    display: block;
    padding: 6px;
}

.button {
    background:    #3d85c6;
    background:    linear-gradient(#3d85c6, #073763);
    border-radius: 5px;
    padding:       6px 6px;
    color:         #ff0000;
    display:       block;
    font:          normal bold 14px/1 "Calibri", sans-serif;
    text-align:    center;
    text-shadow:   2px 2px #000000;
}

.column {
    float: left;
    width: 70%;
    border-color: #FFF;
    clear: both
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.pethomeimg {
    max-height: 150px;
    max-width: 150px;
}

#hotel,#timeout {
   display: none;
}
.button2 {
    box-shadow:inset 0 1px 0 0 #fff6af;
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color:#ffec64;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0 1px 0 #ffee66;
}
.button2:hover {
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color:#ffab23;
}
.button2:active {
    position:relative;
    top:1px;
}

.pettitle {
    color: #e0dfdc;
    background: #556677;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
}

#wrapper {
    transition:height 1s ease-out;
    height:0;
    overflow:hidden;
}

.title {
    display:block;
    font-size: 20px;
}

.view {
    float:left;
    height: 120px;
    margin-right: 15px;
    display:block;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #bcbcbc;
    background-size: 200px 100px;
}

.view .mask, .view .content {
    width: 200px;
    height: 100px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 3px 10px;
    background: #333;
    opacity: 0;
    color: red;
}

.view img {
    display: block;
    position: relative
}

.animdemo img {
    transition: all 0.6s linear;
}

.animdemo a.info{
    transition: all 0.8s ease-in;
}

.animdemo:hover img {
    transform: scale(1.07);
}
.animdemo:hover .mask {
    opacity: .9;
}

.animdemo:hover a.info {
    opacity: 1;
    transform: translateY(75px);
}

.clearfix {
    overflow: auto;
}